body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
    margin-top: 10px;
}

video, img {
    margin-top: 20px;
    border: 1px solid #ccc;
}

.player {
    min-height: 400px; /* 设置最小高度以保持布局 */
} 